* {
	font-family: Times New Roman, Sans-serif;
	line-height: 3;
}

*{
	font-family: Verdana, Tahoma, Arial, Sans-serif;
	line-height: 1.5;
	padding-left: 10px;
	padding-right: 10px;
}  /* overrides the first */

h1 {
	text-align: right;
    color: Orange;
} /* gets overriden by head styles and inline styles */

h2 {
	border: 2px solid DodgerBlue;
	color: DodgerBlue;
	padding-left: 10px;
}


p {
	font-family: sans-serif !important;
}

p {
	font-family: Comic Sans MS;
}

#SpecialHeading {
	background-color:Tomato;
	color: ghostwhite;
	border: 2px solid tomato;
}

.class1 {
	color: darkslateblue;
}

.class2 {
	background-color: pink;
}

.class3 {
	border: 2px solid deeppink;
}

ol li {
	font-family: courier;
	color: darkgoldenrod;
}

a {
	color: steelblue;
}

a:hover {
	color: tomato;
	background-color: #eee;
	outline: 1px solid gray;
}

a:focus {
	color: darkred;
	background-color: #eee;
	outline: 1px solid gray;
}

a:active {
	color: seagreen;
	background-color: lightyellow;
	outline: 1px solid yellow;
}

[alt="The site logo"] {
	width: 10%;
}

a[href$=".pdf"] {
	background-color: skyblue;
	opacity: 0.5;
}

.floatleft {
	float: left;
	width: 30%;
}

.floatright {
	float: right;
	width: 40%;
}

.clear {
	clear: both;
}

table, th, td {
  border: 1px solid black;
}

tr:nth-child(even) {
	background-color: #eee;
}

.shadow {
	box-shadow: 1px 1px 5px gray;
}

nav {
	border: 1px solid gray;
	border-radius: 30px; 
}

nav ul {
	margin: 8px;
}

nav li {
	display: inline;
}

nav li a {
	padding: 10px 40px;
}

header {
	border: 5px dashed gold;
	margin: 20px;
}

main {
	border: 3px dashed tomato;
	margin: 20px;
	padding: 25px 35px;
}

footer {
	border: 5px dashed gold;
	margin: 20px;
	text-align: center;
	background-color: black;
	color: white;
}

div {
	height: 200px;
	width: 768px;
	background-image: url("History.jpeg");
	background-repeat: no-repeat;
}

a::before {
	content: "🔗";
}
